{% load staticfiles %}

<!DOCTYPE html>

<html>
    <head>
        <title>VBR's blog</title>

	<link rel="stylesheet" href="{% static '/static/bootstrap/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static '/static/bootstrap/css/bootstrap-theme.css' %}">
	<link rel="stylesheet" href="{% static '/static/bootstrap/css/blog.css' %}">
	<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>

<body>
        <div class="page-header">
            <h1><a href="/">VBR's Blog</a></h1>
        </div>

<div class="content container">
  <div class="row">
    <div class="col-md-8">
      {% for post in posts %}
        <div class="post">
          
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaks }}</p>

	    <div class="date">
            <p>published: {{ post.published_date }}</p>
	    </div>

        </div>
      {% endfor %}
      </div>
   </div>
 </div>
        
    </body>
</html>
