{% load staticfiles %}

<!DOCTYPE html>

<html>
    <head>
        <title>VBR's blog</title>

	<link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap-theme.css' %}">
	<link rel="stylesheet" href="{% static '/bootstrap/css/blog.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="">VBR's Blog</a></h1>
        </div>


{% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaks }}</p>
        </div>
{% endfor %}
        
    </body>
</html>